body, html {
    height: 100%;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: .5fr 1.2fr 1.2fr 1.1fr;
    /* grid-template-rows: 0.8fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
        "sidebar info info info"
        "sidebar prework random"
        "sidebar contact contact contact"; */
}

*{
    box-sizing: border-box;
}

nav{
    grid-area: nav;
}

#sidebar{
    grid-area: sidebar;
}

#info{
    grid-area: info;
    margin-bottom: 20px;
    padding: 50px;
    height: 500px;
    margin-bottom: 20px;
}

#ContactMe{
    grid-area: ContactMe;
}

#prework{
    grid-area: prework;
}

#contact{
    grid-area: contact;
}

#random{
    grid-area: random;
}

/* [class*="col-"] {
    float: left;
    padding: 15px;
} */

/* .clear::after {
    overflow: auto;
} */
/* .div1 {
        border: 3px ;
        padding: 5px;
} */
/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Load.jpg");
    height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
body {
background-color: blue;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* li {
    float: left;
} */

ul.topnav li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}




@media screen and (min-width: 768px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.main {
    flex: 70%;
    background-color: rgb(5, 18, 199);
    padding: 20px;
}

  /* Fake image, just for this example */
#pic {
    background-color: rgb(0, 170, 243);
    width:50%;
    height: 50%;
    padding: 20px;
}

img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    float: left;
}

img:hover {
    box-shadow: 10px 5px 5px 1px rgba(0, 140, 186, 0.5);
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 767px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}


.img1 {
    float: right;
}

.bounce {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.bounce:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-text{
    display: flex;
    flex
}